{% extends "govuk/template.njk" %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% set mainClasses = 'govuk-main-wrapper--l' %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{ "Error: " if validationErrors.length > 0 else "" }}{{ (pageTitle + " | ") if pageTitle else ""}}{{ applicationName + " | MoJ" }}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include 'partials/beforeContent.njk' %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
  <div class="govuk-!-display-none-print">
  {{ govukFooter({
    meta: {
      items: [
        {
          href: feedbackUrl,
          text: "Feedback"
        },
        {
          href: reportAFaultUrl,
          text: "Report a fault"
        },
        {
          href: "/accessibility-statement",
          text: "Accessibility statement"
        }
      ]
    }
  }) }}
  </div>
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{% endblock %}
