.search-form {
  background-color: #f3f2f1;
  padding: 10px;
}

.horizontal-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  * {
    margin-bottom: 0;
  }

  > div {
    margin-right: govuk-spacing(3);
  }

  label {
    margin-bottom: govuk-spacing(2);
  }

  button {
    margin-bottom: 2px;
  }

  button,
  a {
    align-self: flex-end;
  }
}
