.govuk-radios--inline {
  .govuk-radios__label {
    max-width: revert;
  }
}

.govuk-radios--double-label {
  .govuk-radios__label {
    span {
      display: inline-block;
      &:first-of-type {
        width: 200px;
      }
    }
  }
}

#available-bookings-summary-list, #available-rooms-summary-list {
  .govuk-summary-list--no-border {
    .govuk-summary-list__value, .govuk-summary-list__key, .govuk-summary-list__action {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    margin-bottom: 20px;
  }
}
